body{
    background-color: #eb500e;
    font-family: Arial, Helvetica, sans-serif;
    
}

.main{
    display: flex;
}

.nav-1{
    background-color: #eb500e;
    list-style-type: none;
    width: 8cm;
    border-radius: 5%;
    height: 20cm;
    
}

.li-1{
    display: block;
    padding: 0.5cm;
    color: white;
}

.li-1:hover{
    background-color: #ffb200;
    color: white;
    transition: 1s;
    cursor: pointer;
    border-radius: 15%;
    
}

.heading{
    display: block;
    padding: 0.5cm;
    color: white;
    
}

.info{
    background-color: #ffb200;
    color: white;
    width: 20cm;
    border-radius: 5%;
}

.artist{
background-color: #f4003a;
color: white;
border-radius: 3%;
height: 3.7cm;
width: 18cm;

}

.button-1{
    height: 1cm;
    width: 3cm;
    border-radius: 30%;
}

.button-1:hover{
    background-color: #f4003a;
    color: white;
    transition: 1s;
    cursor: pointer;
    border-color: white;
}

.img-1{
    height: 3cm;
    border-radius: 10%;
    margin-left: 13cm;
    margin-top: -6cm;
    
}

.albums{
    color: white;
    height: fit-content;
    display: flex;
    
    
}

.eminem{
    background-image: url('../res/Eminem 2.jpg');
    border-radius: 30%;
    height: 4cm;
    width: 4cm;
    margin-right: 2cm;
}

.taylor{
    background-image: url('../res/Taylor Swift 2.jpg');
    border-radius: 30%;
    height: 4cm;
    width: 4cm;
    margin-right: 2cm;
}

.post-malone{
    background-image: url('../res/Post Malone 2.jfif');
    border-radius: 30%;
    height: 4cm;
    width: 4cm;

}

.chart{
    color: white;
    display: flex;
}

.fs{
    height: 3cm;
    width: 3cm;
    display: flex;
    margin-right: 7cm;
}

.img-2{
    height: 4cm;
    width: 4cm;
}

.img-3{
    height: 4cm;
    width: 4cm;
}

.ig{
    display: flex;
}


.play-now{
    background-color: #ffb300de;
    height: 21cm;
    color: white;
    width: 10cm;
    border-radius: 5%;

}

.profile{
    display: flex;
    justify-content: right;
}

.profile-img{
    border-radius: 45%;
    height: 1.5cm;
    width: 1.5cm;
}

.tracks{
    list-style-type: none;
}

.img-4{
    height: 4cm;
    width: 4cm;
}

.songs{
    display: flex;
    margin-bottom: 0.5cm;
}

.search{
    width: 17cm;
    
}

.live{
    background-color: #f4003941;
    width: 20cm;
    display: flex;

}

.img-5{
height: 2cm;
width: 2cm;
border-radius: 10%;
}

.songs:hover{
    background-color: #eb500e;
    color: white;
    transition: 1s;
    cursor: pointer;
}

.play-btn{
    background-color: #ffb200;
    height: 2cm;
    width: 2cm;
    border-radius: 50%;
    margin-left: 6cm;
}

.play-btn:hover{
    background-color: #eb500e;
    color: white;
    transition: 1s;
    cursor: pointer;
}
